
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root{
    --background-color:#0E1013;
    --text-color:#ECEEF2;
    --surface-color:#171A20;
    --textlight-color:#8B909C;
    --accent-color:#FFB86B;
    --accent2-color:#7C6FFF;
    --accent2h-color:#6153fa;
    --border-color:rgba(255,255,255,0.08);

}


@theme{
    --color-bg:var(--background-color);
    --color-text:var(--text-color);
    --color-bd: var(--border-color);
    --color-lightext:var(--textlight-color);
    --color-accent:var(--accent-color);
    --color-accent2:var(--accent2-color);
    --color-accent2h:var(--accent2h-color);
    --color-surface: var(--surface-color);
    --font-space:"Space Grotesk", sans-serif;
    --font-Inter:'Inter', sans-serif;
}
body{
    @apply bg-bg text-text font-space
}